.cool-project-info {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}
.cool-project-background {
  background-image: url(../images/offset-printing.jpg);
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.cool-project-sub-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  height: 400px;
  width: 100%;
font-family: sans-serif;
}

.cool-project-sub-background h1 {
  color: white;
  font-size: 40px;
  letter-spacing: 2px;
}

.cool-project-sub-background hr {
  border: none;
  height: 4px;
  background-color: white;
  width: 90px;
  margin-top: 15px;
}
/* --------__--_-__-___-__-__-__-___-__-__--__-__-__--__- */

.cool-project-description {
  height: 800px;
  display: flex;
font-family: sans-serif;
}

.cool-project-description-pic img {
  margin-top: 100px;
  margin-left: 110px;
  width: 500px;
  height: 500px;
}
.cool-project-description-text {
  margin-top: 100px;
  margin-left: 110px;
  margin-right: 100px;
}

.cool-project-description-text p {
  font-family: sans-serif;
  padding-top: 20px;
  line-height: 20px;
}

.cool-project-description-text-project-type h1 {
  padding-top: 50px;
}

.cool-project-description-text-project-type ul {
  padding-top: 20px;
  list-style-type: none;
}
.cool-project-description-text-project-type ul li {
  padding-top: 5px;
}
.cool-project-description-text-project-type a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.cool-project-description-text-project-type a:hover {
  color: rgb(44, 44, 184);
  font-weight: bolder;
  font-size: 16px;
}
